body {
  background: #44d;
  padding: 0;
  margin: 0;
}

header {
  box-sizing: border-box;
  background: lightblue;
  font-family: Lobster, cursive;
  font-size: 26px;
  color: #444;
  text-align: left;
  margin: 0;
  padding: 8px 0 0 80px;
  height: 50px;
  box-shadow: 0px 5px 5px #111;
}

.topBorder {
  margin: 30px auto;
  padding: 5px;
  width: 840px;
  border-top: 6px solid lightblue;
  border-left: 6px solid lightblue;
  border-right: 6px solid lightblue;
  border-bottom: 6px solid lightblue;
}

.labels {
  box-sizing: border-box;
  background: lightblue;
  margin: 0 auto 0;
  width: 840px;
  height: 55px;
  padding: 20px;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #444;
}

.output {
  width: 850px;
  margin: -20px auto 5px;
  border-top: 6px solid lightblue;
  border-left: 6px solid lightblue;
  border-bottom: 6px solid lightblue;
  border-right: 6px solid lightblue;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #444;
}

.labels {
  border: none;
  margin: 0 auto;

}

.labels:after {
  clear: both;
}

span {
  display: block;
  height: 80%;
  margin: 0;
  float: left;
}

.clear {
  clear: both;
}

.container {
  margin: 0 0 0 0;
  padding: 5px;
}

.item div {
  box-sizing: border-box;
  float: left;
  padding-top: 15px;
}

.item {
  height: 50px;
  background: lightblue;
}

.item:nth-child(2n+1) {
  background: #44d;
  color: #fff;
}

.item .rank {
  padding-left: 3%;
}

.rank {
  width: 5%;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  float: left;
  margin: -10px 15px 0 0;
  height: 40px;
  width: 40px;
}

.name {
  box-sizing: border-box;
  width: 45%;
  padding-left: 8%;
  margin: 0 0 0 20px;
  text-align: left;
}

.alltime, .recent {
  width: 21%;
  text-align: center;
}

.alltime:hover, .recent:hover {
  font-weight: bold;
}

.active:after {
  content: '\25bc';
}
